parameters:
    level: 8
    tmpDir: build/phpstan
    paths:
        - src
        - tests

    ignoreErrors:
        - identifier: missingType.iterableValue
        - message: '/^Call to an undefined method Prophecy\\Prophecy\\ObjectProphecy/'
